@theme inline {
  --transition-duration-*: initial;
  --ease-*: initial;
  --transition-property-*: initial;
  --duration-*: initial;

  /* Durations */
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 180ms;
  --transition-duration-slow: 300ms;

  /* Easings */
  --ease-in-out: cubic-bezier(0.77, 0, 0.18, 1);
  --ease-navigation: cubic-bezier(0.65, 0.05, 0.36, 1);
}
