@import "tailwindcss";
@import "./breakpoints.css";
@import "./spacing.css";
@import "./typography.css";
@import "./colors.css";
@import "./animations.css";
@import "./radii.css";
@import "./utilities.css";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@theme {
  --navigation-height-mobile: 66px;

  --navigation-height-desktop: 88px;
}
